.gm-style .gm-style-iw {
    font-weight: 400;
    font-family: $font;
    color: $light-text-color;
    font-size: 14px;
}

.map-window-title {
    font-weight: 600;
    font-family: $font;
    color: $dark-text-color;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}