.sidebar {
    background: #EFEFEF;
    border-left: 1px solid $border-color;

    .empty-state {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .place-input+.route-item {
        margin-top: 20px;
    }

    .separator {
        background: $border-color;
        width: 100%;
        height: 1px;
        margin-bottom: 20px;
    }
}

.sidebar-contents-container {
    overflow: auto;
    position: absolute;
    background: #EFEFEF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.sidebar-contents {
    min-height: 100%;
    padding: 20px 15px;
    position: relative;

    .minimum-height {
        min-height: 500px;
    }
}
